<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD Login</title>
</head>
<body>

    <h2>Login<h2>
    <form action="/realizarlogin" method="POST">
        <input type="text" placeholder="Login" name="login">
        <input type="password" placeholder="Senha" name="senha">
        <button type="submit">Enviar</button>
    </form> 

    <button><a href="/registrar">Registrar novo usuario</a></button>

</body>
</html>